@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@media (min-width: 100px) {
  .text-home-heading {
    font-size: 28px;
    line-height: 56px;
  }
}

/* For medium and larger screens */
@media (min-width: 768px) {
  .text-home-heading {
    font-size: 48px;
    line-height: 56px;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
.auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
